{% autoescape off %}

    Dear {{ name }},

    Congratulations! Your registration for membership at MASHLE FITNESS GYM was successful. 
    We're excited to have you join our fitness community dedicated to helping individuals achieve their health and wellness goals.
    
    If you have any questions or need assistance, our friendly staff is here to help. 
    Welcome to the MASHLE FITNESS GYM family – get ready for an incredible fitness journey!

    Best regards,
    MASHLE FITNESS GYM
    MASHLE@gmail.com
 {% endautoescape %}